<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
	<div th:insert="header :: header"></div>
    <div class="container">
        <h1>Pedidos</h1>
        <a href="/pedidos/novo" class="button">Criar Novo Pedido</a>
        <table>
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Data</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td>
                        <ul>
                            <li th:each="produto : ${pedido.produtos}" th:text="${produto.nome}"></li>
                        </ul>
                    </td>
                    <td th:text="${pedido.quantidade}"></td>
                    <td th:text="${pedido.valorTotal}"></td>
                    <td th:text="${pedido.data}"></td>
                    <td th:text="${pedido.status}"></td>
                    <td>
                        <a th:href="@{/pedidos/editar/{id}(id=${pedido.id})}" class="button">Editar</a>
                        <a th:href="@{/pedidos/remover/{id}(id=${pedido.id})}" class="button">Remover</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>