<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <style>
    	
    </style>
</head>
<body>
    <header th:fragment>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/pedidos">Pedidos</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>